# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="file:./dev.db"
INSTAGRAM_APP_ID=
INSTAGRAM_APP_SECRET=
INSTAGRAM_CALLBACK_URL=https://cd83-96-21-250-123.ngrok.io/instagram/callback
INSTAGRAM_OAUTH_URL=https://api.instagram.com/oauth/authorize
INSTAGRAM_ACCESS_TOKEN_URL=https://api.instagram.com/oauth/access_token
INSTAGRAM_ACCESS_TOKEN_LONG_URL=https://graph.instagram.com/access_token
INSTAGRAM_CHECK_USER_URL=https://graph.instagram.com/me
JWT_SECRET=secret123
JWT_EXPIRATION=1d